@import 'variables.scss';


.modal-header{
    color: white;
    background-color: #0B3B69;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    &[class*="small"] {
        height: 3vw;
        border-radius: 0px;
        color: white;
        background-color: #0B3B69;
        box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}



.modal-content{
    border-radius: 12px;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.offcanvas{
    top: 0;
    margin-top: 55px;
    overflow-y: hidden;
}
.modal-backdrop{
    z-index: -1;
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
