@import 'variables.scss';
.modal-header{
    color: white;
    background-color: #0B3B69;
}
.modal-content{
    border-radius: 17px;   
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.8);
}
.offcanvas{
    top: 0;
    margin-top: 55px;
    overflow-y: hidden;
}
.modal-backdrop{
    z-index: -1;
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
