@import 'variables.scss';


.modal-header{
    color: white;
    background-color: #0B3B69;
    border: solid 1px map-get($theme-colors, "light-background-header");
    box-shadow:
        0 0 0 5px rgba(0, 0, 0, 0.05),  
        0 0 20px 10px rgba(0, 0, 0, 0.08), 
        0 0 40px 20px rgba(0, 0, 0, 0.06), 
        inset 0 0 20px rgba(0, 0, 0, 0.1);
    &[class*="small"] {
        border-bottom: 3px #FED51E solid;
        height: 3vw;
        border-radius: 11.2px 11.2px 0px 0px;
        color: white;
        background-color: #0B3B69;
    }
}



.modal-content{
    border-radius: 12px;
    &[class*="small"]{
        border-radius: 6px;
        border: 1px #494b50 solid !important;
    }
}
.modal-footer{
    border-top: 1px #cdcdcd solid;
}
.offcanvas{
    top: 0;
    margin-top: 55px;
    overflow-y: hidden;
}
.modal-backdrop{
    z-index: -1;
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
