/*
xs(smartphone <= 576px)
sm(celular 576px <= 768px), 
md(tablet 576px <= 992px),  
lg(note 992px <= 1200px),
xl(pc 1200px <= 1400px), 
xxl(televisão >= 1400px).*/ 
@import 'card.scss';
@import 'variables.scss';
@import 'theme_switch.scss';
@import 'sidebar.scss';
@import 'table.scss';
@import 'button.scss';
@import 'progressbar.scss';

$dropdown-link-hover-color: white;
$list-group-hover-bg: map-get($theme-colors, "warning");
$list-group-active-bg: map-get($theme-colors, "warning");

$font-family-sans-serif: "Poppins", sans-serif;
$modal-backdrop-opacity: 0; 

@import "bootstrap/scss/bootstrap";
@import 'dropdown.scss';
@import 'modal.scss';
@import 'search_bar.scss';
@import 'table_mixin.scss';
