$theme-colors: (
    "primary": #0B3B69,
    "secondary": #1F69B1,
    "light-success": #4CAF50,
    "dark-sucess": #388E3C,
    "light-alert": #E53935,
    "dark-alert": #B71C1C,
    "warning": #FED51E,
    "light": #FFFFFF,
    "dark": #000000,
    "light-emphasis": #F2F2F2,
    "gray-light": #D9D9D9,
    "dark-emphasis": #333333,
    "loan": #A5971E,
    "refund": #7BBB12,
);
