$theme-colors: (
    "primary": #0B3B69,
    "secondary": #1F69B1,
    "light-success": #31c939,
    "dark-success": #339e38,
    "light-alert": #E53935,
    "dark-alert": #B71C1C,
    "warning": #FED51E,
    "dark-warning": #cdab15,
    "light": #FFFFFF,
    "dark": #000000,
    "light-emphasis": #F2F2F2,
    "light-background": #f3f4f7,
    "light-background-header": #f8f8f8,
    "gray-light": #D9D9D9,
    "dark-emphasis": #333333,
    "new-gray": #494b50,
);
