name: CI

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 21

    - name: Install Dependencies
      run: npm install

    #- name: Run Tests
      #run: npm run test

    - name: Build Application
      run: npm run build
